<div class="media mt-3">
  <div class="media-body">
    <%= comment.body %>
    <%= link_to 'Delete', [comment.post, comment],
                method: :delete, class: "button is-danger", data: {confirm: 'Are you sure?'} %>
  </div>
</div>
